# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
.env
.env.*
!.env.example

# IDE settings
.vscode/

*.log

# ログディレクトリ（実行時に自動生成）
logs/

*.pem

*.plist

ekiden_map.kml

# 一時データ
data/realtime_report_previous.json
